/*Ejercicio 1

*{   
}

************************************
Ejercicio 2

p{
}
************************************
Ejercicio 3

#title-1{
}
************************************
Ejercicio 4

.bg-yellow{    
}

************************************
Ejercicio 5

[id]{  

}

************************************
Ejercicio 6

[id="title-1"]{
}

************************************
Ejercicio 7

[href="https://www.yahoo.com"]{
}

************************************
Ejercicio 8

[class^=title]{
}

************************************
Ejercicio 9

[href$=".com"]{
}


************************************
Ejercicio 10

[class|=title]{
}

************************************
Ejercicio 11
 
 [href*="127"]{
 }

************************************
Ejercicio 12

[href^="http"]{
}

************************************
Ejercicio 13

a,p,hi{
}

************************************
Ejercicio 14

main p {
}

************************************
Ejercicio 15


h1 + *{
}

************************************
Ejercicio 16

h1 ~ *
{  
}

************************************
Ejercicio 17

main > *
{    
}
*/